<table class="statistics">
  <tr>
    <td>Número de preguntas:</td>
    <td class="resultados"><%= estadisticas.totalPreguntas %></td>
  </tr>
  <tr>
    <td>Número de comentarios totales:</td>
    <td class="resultados"><%= estadisticas.totalComentarios %></td>
  </tr>
  <tr>
    <td>Número medio de comentarios por pregunta:</td>
    <td class="resultados"><%= estadisticas.mediaDeComentarios %></td>
  </tr>
  <tr>
    <td>Número de preguntas sin comentarios:</td>
    <td class="resultados"><%= estadisticas.preguntasSinComentarios %></td>
  </tr>
  <tr>
    <td>Número de preguntas con comentarios:</td>
    <td class="resultados"><%= estadisticas.preguntasConComentarios %></td>
  </tr>
</table>
